In [10]:
import pandas as pd
dataset = pd.read_csv('enjoysport.csv')
dataset

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  sunny    warm   normal  strong  warm     same        Yes
1  sunny    warm     high  strong  warm     same        Yes
2  rainy    cold     high  strong  warm   change         No
3  sunny    warm     high  strong  cool   change        Yes

In [11]:
attributes = dataset.columns.values.tolist()[:-1]
num_attributes = len(attributes)
attributes

['Sky', 'AirTemp', 'Humidity', 'Wind', 'Water', 'Forecast']

In [12]:
# features = dataset.iloc[:, :-1]
features = dataset[dataset.columns[:-1]]
features

     Sky AirTemp Humidity    Wind Water Forecast
0  sunny    warm   normal  strong  warm     same
1  sunny    warm     high  strong  warm     same
2  rainy    cold     high  strong  warm   change
3  sunny    warm     high  strong  cool   change

In [13]:
features.values.tolist()

[['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
 ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
 ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
 ['sunny', 'warm', 'high', 'strong', 'cool', 'change']]

In [14]:
# response = dataset.iloc[:, -1]
response = dataset[dataset.columns[-1]]
response

0    Yes
1    Yes
2     No
3    Yes
Name: EnjoySport, dtype: object

In [15]:
response.tolist()

['Yes', 'Yes', 'No', 'Yes']

In [16]:
hypothesis = ['0']*num_attributes
print("\nInitial Hypothesis")
print("\n Hypothesis 0 : ", hypothesis)

Initial Hypothesis

 Hypothesis 0 :  ['0', '0', '0', '0', '0', '0']

In [17]:
for i in range(num_attributes):
    hypothesis[i] = features.iat[0, i]

In [18]:
print("\n Find S: Finding a Maximally Specific Hypothesis \n")
for i in range(len(features)):
    if(response[i]=='Yes'):
        for j in range(num_attributes):
            if(hypothesis[j]!=features.iat[i, j]):
                hypothesis[j]='?'
    print("\n Hypothesis {} : ".format(i+1), hypothesis)

 Find S: Finding a Maximally Specific Hypothesis


 Hypothesis 1 :  ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']

 Hypothesis 2 :  ['sunny', 'warm', '?', 'strong', 'warm', 'same']

 Hypothesis 3 :  ['sunny', 'warm', '?', 'strong', 'warm', 'same']

 Hypothesis 4 :  ['sunny', 'warm', '?', 'strong', '?', '?']